<style>
.sign_up_header{
color:rgb(196,60,53);
}
.sign_up_label{
background:none repeat scroll 0% 0% rgb(0, 100, 205);
color:rgb(255,255,255);
border-top-left-radius:8px;
border-top-right-radius:8px;
padding-left: 1em;
margin-bottom: 0px;
}
#sign_up{
border:3px solid rgb(0, 100, 205);
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
padding: 1em 1em 0em;
margin-top:-5px;
}
</style>

  <section id="flashMsg">
  <div class="alert alert-alert">You need to sign in or sign up before continuing</div>
   </section>
  <div class="row">
  <div class="offset3 span6">
  <h1 class="sign_up_header">Ruby Benefit Fund</h1> 
  <h3 class="sign_up_label">sign up</h3>
  <div id="sign_up">


 <%= form_tag(user_registration_path,:method => 'post') %>
 <%= devise_error_messages! %>


    Username  <h5><%=text_field_tag "user[username]",@user.username %></h6>
     
    Email  <h6><%=email_field_tag "user[email]",@user.email %></h6>
     
    Password  <h6><%=password_field_tag "user[password]",@user.password %></h6>

    Retype password <h6><%=password_field_tag "user[password_confirmation]",@user.password_confirmation%>
    </h6>

    Address  <h6><%=text_area_tag "user[Address]",@user.Address,:rows => 2,:cols => 2 %></h6>

    Mobile_number  <h6><%=text_field_tag "user[Mobile_number]",@user.Mobile_number %></h6>

     <fieldset class="form-actions">
      <button class="btn" type="submit" name="button">Sign up</button>
     </fieldset>
   </div>
  </div>
</div>
<br />
<%= render :partial => "devise/shared/links" %>
