
<%= will_paginate %>
<h2>Customers </h2>
<table cellpadding = "5px" cellspacing = "5px">
  <tr>
    <th>code</th>
    <th>Name</th>
    <th>address</th>
    <th>status</th>
    <th> </th>
    <th> </th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= link_to "#{customer.code}" , customer_path(customer)%></td>
      <td><%= link_to "#{customer.first_name} #{customer.last_name}" , customer_path(customer)%></td>
      <td><%= customer.address%></td>
      <td><span class="label label-success"><%= customer.status%></span></td>
      <td><%= link_to "Edit",edit_customer_path(customer),class: "btn btn-info" %></td>
      <td><%= link_to "Delete",customer_path(customer),class: "btn btn-info",
      method: :delete, confirm: "Are You Sure?" %></td>
    </tr>
  <% end %>
</table>
<br />
</div>
<%= link_to "Add customer", new_customer_path,class: "btn-primary btn" %>
<%= will_paginate %>




