<br />
<h1><%= link_to "Customers", customers_path %></h1>  
<br />

 
    <div class = "span6 offset6">
    <div class="btn-group">

    <a class="btn btn-primary" href="/customers">
       <i class="icon-user icon-white"></i> List all Customers</a>

    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
       <span class="caret"></span></a>
       
    <ul class="dropdown-menu">
      <li><%= link_to(edit_customer_path(@customer), :class => 'btn btn-primary') do %>
          Edit Current Customer <i class="icon-pencil icon-white"></i>
      <% end %></li>
    
      
      <li><%= link_to(customer_path(@customer), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger') do %>
          Delete Current Customer <i class="icon-trash icon-white"></i>
       <% end %></li>
    </div>
</div>

<h3><span class = "customer"><%= @customer.code %></span></h3>
<h5><%= "#{@customer.first_name} #{@customer.last_name}" %></h5>
<h5><%= "Age of the customer: #{Date.today.year - @customer.date_of_birth.year}" %></h5> 
<h5><%= @customer.address %></h5>

<hr>
   <div class="row">
   <div class="span6 customer_left_span_properties">
   <h4><span class="customer">Application details</span></h4>
   <div class="row">
   <div class="span3">
   <strong>status</strong>
   </div>
   <div class="span3"> - <%= @customer.status %> </div>
   </div>
   </div>


</hr>

<hr>
   <div class="row">
   <div class="span6 customer_left_span_properties">
   <h4><span class="customer">customer details</span></h4>
   <div class="row">
   <div class="span3">
    <strong>date of birth</strong>
   </div>
   <div class="span3"> - <%= @customer.date_of_birth %> </div>
   </div>

   <div class="row">
   <div class="span3">
   <strong>gender</strong>
   </div>
   <div class="span3"> - <%= @customer.sex %> </div>
   </div>
   </div>
  
   <div class="span6">
   <h4><span class="customer">ID details</span></h4>
   <div class="row">
   <div class="span3">
   <strong>PAN</strong>
   </div>
   <div class="span3"> : <%= @customer.PAN %> </div>
   </div>
   </div>
   <div class="span3">
   <strong>Photo</strong>
   </div>  
   <div class="span3"> : <%= image_tag @customer.photo, :size => "50x50", class: "img-circle" %></div>
   </div>
</hr>
<br></br> 

 <div class = "span3 offset3">
    <a class="btn btn-info btn-lg btn-block" href="/customers">Back</a>
 </div>
