<br />
<h1><%= link_to "Customers", customers_path %></h1>  
<br />

 
<div class="jumbotron">
   <div class = "span6 offset6">
    <div class="btn-group">

    <a class="btn btn-primary" href="/customers">
       <i class="icon-user icon-white"></i> List all Customers</a>

    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
       <span class="caret"></span></a>
       
    <ul class="dropdown-menu">
      <li><%= link_to(edit_customer_path(@customer)) do %>
          Edit Current Customer <i class="icon-pencil icon-black"></i>
      <% end %></li>
    
      
      <li><%= link_to(customer_path(@customer), :method => :delete, :confirm => 'Are you sure?') do %>
          Delete Current Customer <i class="icon-trash icon-black"></i>
       <% end %></li>
    </div>
</div>

<h4><span class = "customer"><%= @customer.code %></span></h4>
<%= "#{@customer.first_name} #{@customer.last_name}" %>
<h5><%= "Age : #{Date.today.year - @customer.date_of_birth.year}" %></h5> 
<h5><%= @customer.address %></h5>

<hr>
   <div class="row">
   <div class="span6 customer_left_span_properties">
   <h4><span class="customer">Application details</span></h4>
   <div class="row">
   <div class="span3">
    <h5>STATUS</h5>
   </div>
  <h5><div class="span3"> - <%= @customer.status %> </div></h5>
   </div>
   </div>
   </div>
</hr>

<hr>
   <div class="row">
   <div class="span6 customer_left_span_properties">
   <h4><span class="customer">Folio details</span></h4>
   <div class="row">
   <div class="span3">
   <h5>FOLIO NUMBER</h5>
   </div>
   <h5><div class="span3"> :<% for folio in @customer.folios %><%= link_to folio.folio_number, folios_path %><% end %></div></h5>
   </div>
   
   <div class="row">
   <div class="span3">
   <h5>NUMBER OF SHARES</h5>
   </div>  
   <h5><div class="span3"> :<% for folio in @customer.folios %><%= link_to folio.no_of_shares, folios_path %><% end %></div></h5>
   </div>
   </div>

   </div>
</hr>

<hr>
   <div class="row">
   <div class="span6 customer_left_span_properties">
   <h4><span class="customer">customer details</span></h4>
   <div class="row">
   <div class="span3">
   <h5>DATE OF BIRTH</h5>
   </div>
   <h5><div class="span3"> - <%= @customer.date_of_birth %> </div></h5>
   </div>

   <div class="row">
   <div class="span3">
   <h5>GENDER</h5>
   </div>
   <h5><div class="span3"> - <%= @customer.sex %> </div></h5>
   </div>
   </div>
  
   <div class="span6">
   <h4><span class="customer">ID details</span></h4>
   <div class="row">
   <div class="span3">
   <h5>PAN</h5>
   </div>
   <h5><div class="span3"> : <%= @customer.PAN %> </div></h5>
   </div>
   </div>
   <div class="span3">
  <h5> PHOTO</h5>
   </div>  
   <div class="span3">  <%= image_tag @customer.photo, :size => "50x50", :crop => :fill %></div>
   </div>
</hr>
<br></br>

<div class = "span3 offset3">
    <a class="btn btn-info btn-lg btn-block" href="/customers">Back</a>
 </div>


