<br />
<h1> Savings deposit</h1>
  <br />
     <%= link_to "New savings deposits", new_savingsdeposit_path,class: "btn-primary btn" %>

<div class="btn-group">
      <a class="btn btn-primary">Transactions Pending</a>
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="caret"></span></a>
       <ul class="dropdown-menu">

    <%= link_to "pending", savingsdeposits_pending_path %>

  <%= link_to"closed", '#' %></li>

        </ul>
   </div>
     </div>
   <br />

<table cellpadding = "5px" cellspacing = "5px" width = "100%" class="table table-striped">
  <tr>
    <th>id</th>
    <th>current balance</th>
    <th>opened on</th>
    <th>Account type</th>
    <th>status</th>
    <th>Details</th>

 </tr>
    <% @savingsdeposits.each do |savingsdeposit| %>
      <tr>
      <td><%= savingsdeposit.customer_id %></td>
      <td><%= savingsdeposit.current_balance %></td>
      <td><%= savingsdeposit.opened_on %></td>
      <td><%= savingsdeposit.account_type %></td>
      <td><span class="label label-success"><%= savingsdeposit.status %><%= @pending %>
</span></td>
      <td><%= link_to(savingsdeposit_path(savingsdeposit), :class => 'btn btn-small btn-info') do %>
More info <i class="icon-info-sign icon-white"></i>
                   <% end %>
</td>
      </tr>
    <% end %>
  </table>
 </div>

