
<h4><span class="savingsdeposit">Details</span></h4>


 <%= form_for @savingsdeposit do |f| %>

 
    <% if @savingsdeposit.errors.any? %>
  <h4>Customer not added</h4>
  <ul>
  <% @savingsdeposit.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
  </ul>
 <% end %>

 <%= f.hidden_field :customer_id, :id => "real_customer_id" %>
 <%= f.label :customer_name %><%= autocomplete_field_tag 'throwaway_customer', '',
          autocomplete_customer_first_name_savingsdeposits_path,
          :size => 75, :id_element => '#real_customer_id' %> <br />
 
 
    <%= f.label :current_balance %>
    <%= f.text_field :current_balance %>

    <%= f.label :opened_on %>
    <abbr title = "required">*</abbr></label>
    <%= f.text_field :opened_on, :readonly => true, :value => @savingsdeposit.opened_on %>

    <%= f.label :account_type %>
    <%= f.text_field :account_type %>




<fieldset class="form-actions"> <%= f.submit "open account", class: "btn btn-primary" %></field>
<% end %></div>

